<div class="main-content">
    <div class="row box">
        <form role="form" class="form">
            <div class="form-group">
                <label class="control-label" for="salas">Sala</label>
                <select class="form-control" autofocus>
                    <option selected value="1">A01</option>
                    <option value="2">A02</option>
                    <option value="3">A03</option>
                </select>
            </div>

        </form>
    </div>
    <div class="row" >
        <div class="col-md-12" >
            <div id="calendar-background">
                <div id="fullcalendar"></div>
            </div>
        </div>
    </div>
    <div id="new-schedule" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nova Reserva</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
</div>
