<%= render :partial => 'layouts/sidenav', :locals => {:active => 5} %>
<div class="main-content">
    <div class="row">
        <ol class="breadcrumb">
          <li>
            <%= link_to '<i class="fa fa-calendar"></i> Reservas'.html_safe, management_schedules_path %>
          </li>
          <li><%= link_to '<i class="fa fa-university"></i> Departamentos'.html_safe, management_departments_path %></li>
          <li><i class="fa fa-edit"></i> Editar Departamento</li>
        </ol>
    </div>
    <div class="form">
        <%= render 'form' %>
    </div>
</div>
