// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content{
  margin-left: 0px !important;
}

@media screen and (max-width:767px){
    .navbar{
      margin-left: 0px;
    }
  }

.fc-time-grid, .fc-event {
  margin: 3px;
}

.datepicker-inline{
  border: 1px solid #ddd;
  width: 100%;
}

.datepicker table tr td.today {
  color: #fff;
  background-color: #16a086;
  border-color: #118871;
}

.datepicker table tr td.today:hover, .datepicker table tr td.today:active, .datepicker table tr td.today:active:focus{
  color: #fff !important;
  background-color: #118871 !important;
  border-color: #118871 !important;
}

.hidden{
  display: none;
}

.table-min-width {
  min-width: 650px;
}
