<h1>Show Class</h1>

<p>
    <strong>Name:</strong>
    <%= @studentClass.name %>
</p>

<p>
    <strong>Period</strong>
    <%= "#{@studentClass.period.semester}° period of #{@studentClass.period.year}" %>
</p>

<p>
    <%= link_to 'Back', student_classes_path %>
</p>

<p>
    <%= link_to 'Edit', edit_student_class_path(@studentClass) %>
</p>
