<div class="modal fade" id="new_event">
  <div class="modal-dialog modal-lg modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nova Reserva</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', event: @event %>
      </div>
    </div>
  </div>
</div>
