<nav class="nav navbar navbar-fixed-top">
    <div class="navbar-header">
        <button id="button-navbar" type="button" data-toggle="collapse" class="navbar-toggle" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<button type="button" id="button-reduce">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>-->
    </div>
    <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="navbar">
        <ul class="nav navbar-nav">
            <li>
                <a href=""><span class="fa fa-style fa-user"></span> Bem-vindo (a),  <%= @currentUser.name.split.first %></a>
            </li>
            <li>
              <%= link_to '<span class="fa fa-style fa-sign-out"></span> Sair'.html_safe, destroy_user_session_path, method: :delete %>
            </li>
            <!-- <li><a href="logout"><span class="fa fa-style fa-sign-out"></span> Sair</a></li> -->
        </ul>
    </div>
</nav>
