<%= render :partial => 'layouts/sidenav', :locals => {:active => 8} %>
<div class="main-content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="dashboard"><i class="fa fa-calendar"></i> Reservas</a></li>
            <li><%= link_to '<i class="fa fa-graduation-cap"></i> Turmas'.html_safe, klasses_path %></li>
            <li><i class="fa fa-plus"></i> Nova Sala</li>
        </ol>
    </div>
    <div class="form">
        <%= render 'form' %>
    </div>
</div>